@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <h1>Stub out: <span class="typed"></span></h1>
</div>


@section scripts {<script>
    $(function () {
        $(".typed").typed({
            strings: ["APIs.", "3rd party web services.", "Webhooks.", "Web Pages."],
            typeSpeed: 1,
            loop: true,
            backDelay: 2000,
            backSpeed: 0,
            shuffle: true
        });
    });
</script>
    
}