@model IEnumerable<stubbl.ViewModels.TeamListItem>

<li>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Team
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            @foreach (var team in Model)
            {
                <li><a asp-area="" asp-controller="Stubs" asp-action="Index" asp-route-Team="@team.Id">@team.Name</a></li>
            }
        </ul>
    </div>
    
</li>

